In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/advertising/advertising.csv

# Description 
This notebook allows you to create a logistic regression model in order  to predict whether a particular internet user will click or not on an advertising. We will work with this [dataset](https://www.kaggle.com/fayomi/advertising)

# Get the data
* Import Libraries

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.model_selection import train_test_split #split data to test and train data 
from sklearn.linear_model import LogisticRegression # Logistic Regression model
from sklearn.metrics import classification_report #evaluate the model
import matplotlib.pyplot as plt #visualisation

* Read the cvs file and set it to a dataframe called ad_data

In [3]:
#get the data path
ad_path="../input/advertising/advertising.csv"

#get the data
ad_data=pd.read_csv(ad_path)

#show the 5 rows of ad_data
ad_data.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0

* show statistics information about numerical columns

In [4]:
ad_data.describe()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,Clicked on Ad
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,65.000200,36.009000,55000.000080,180.000100,0.481000,0.50000
std,15.853615,8.785562,13414.634022,43.902339,0.499889,0.50025
min,32.600000,19.000000,13996.500000,104.780000,0.000000,0.00000
25%,51.360000,29.000000,47031.802500,138.830000,0.000000,0.00000
50%,68.215000,35.000000,57012.300000,183.130000,0.000000,0.50000
75%,78.547500,42.000000,65470.635000,218.792500,1.000000,1.00000
max,91.430000,61.000000,79484.800000,269.960000,1.000000,1.00000

# Logistic Regression model
* Chose the features

In [5]:
#The outcome 
y=ad_data["Clicked on Ad"]
# The features 
X= ad_data[["Daily Time Spent on Site","Age","Area Income","Daily Internet Usage","Male"]]

* Split the data

In [6]:
#33% of data is used for test the rest of data is used for training our model 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1)

* Train and fit a logistic regression model on the training set

In [7]:
#create an instance of Logistic regression model 
lgmodel=LogisticRegression()

#fit the model on the training set
lgmodel.fit(X_train,y_train)

LogisticRegression()

# Prediction & Evaluations
* Prediction using the testing set

In [8]:
predictions =lgmodel.predict(X_test)

* Evaluation

In [9]:
#Print a text report showing the main classification metrics
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.83      0.94      0.88       161
           1       0.93      0.82      0.87       169

    accuracy                           0.88       330
   macro avg       0.88      0.88      0.88       330
weighted avg       0.88      0.88      0.88       330

Here is the [documentation](https://scikit-learn.org/stable/modules/model_evaluation.html#classification-report) of the classification report

# Bonus
Fit the model on the entire data and save the predictions on csv file

In [10]:
final_predictions = lgmodel.predict(X)

In [11]:
predic = pd.DataFrame({'Predict_Click on Ad': final_predictions})
output=pd.concat([X,predic], axis=1)
output.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,Predict_Click on Ad
0,68.95,35,61833.90,256.09,0,0
1,80.23,31,68441.85,193.77,1,0
2,69.47,26,59785.94,236.50,0,0
3,74.15,29,54806.18,245.89,1,0
4,68.37,35,73889.99,225.58,0,0

In [12]:
output.to_csv('Ad_predictions.csv', index=False)
print("Your output was successfully saved!")

Your output was successfully saved!