In [249]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/heart-disease-uci/heart.csv

In [250]:
df = pd.read_csv("../input/heart-disease-uci/heart.csv")

In [251]:
#examine variables
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [252]:
#examine first few rows
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [253]:
#examine descriptive statistics
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [254]:
#percent count of null values
df.isnull().sum()/len(df)*100

age         0.0
sex         0.0
cp          0.0
trestbps    0.0
chol        0.0
fbs         0.0
restecg     0.0
thalach     0.0
exang       0.0
oldpeak     0.0
slope       0.0
ca          0.0
thal        0.0
target      0.0
dtype: float64

In [255]:
#create dummy variables for cp
cp = pd.get_dummies(df['cp'],drop_first=True)

In [256]:
#print first few rows of cp
cp.head()

   1  2  3
0  0  0  1
1  0  1  0
2  1  0  0
3  1  0  0
4  0  0  0

In [257]:
#rename cp columns
cp.rename(columns={1:'cp1',2:'cp2',3:'cp3'}, inplace = True)

In [258]:
#check
cp.head()

   cp1  cp2  cp3
0    0    0    1
1    0    1    0
2    1    0    0
3    1    0    0
4    0    0    0

In [259]:
#create dummy variables for restecg
restecg = pd.get_dummies(df['restecg'],drop_first=True)

In [260]:
#print first few rows of restecg
restecg.head()

   1  2
0  0  0
1  1  0
2  0  0
3  1  0
4  1  0

In [261]:
#rename restecg columns
restecg.rename(columns={1:'restecg1',2:'restecg2'}, inplace = True)

In [262]:
#check
restecg.head()

   restecg1  restecg2
0         0         0
1         1         0
2         0         0
3         1         0
4         1         0

In [263]:
#create dummy variables for slope
slope = pd.get_dummies(df['slope'],drop_first=True)

In [264]:
#print first few rows of slope
slope.head()

   1  2
0  0  0
1  0  0
2  0  1
3  0  1
4  0  1

In [265]:
#rename slope columns
slope.rename(columns={1:'slope1',2:'slope2'}, inplace = True)

In [266]:
#check
slope.head()

   slope1  slope2
0       0       0
1       0       0
2       0       1
3       0       1
4       0       1

In [267]:
#create dummy variables for ca
ca = pd.get_dummies(df['ca'],drop_first=True)

In [268]:
#print first few rows of ca
ca.head()

   1  2  3  4
0  0  0  0  0
1  0  0  0  0
2  0  0  0  0
3  0  0  0  0
4  0  0  0  0

In [269]:
#rename ca columns
ca.rename(columns={1:'ca1',2:'ca2',3:'ca3',4:'ca4'}, inplace = True)

In [270]:
#check
ca.head()

   ca1  ca2  ca3  ca4
0    0    0    0    0
1    0    0    0    0
2    0    0    0    0
3    0    0    0    0
4    0    0    0    0

In [271]:
#create dummy variables for thal
thal = pd.get_dummies(df['thal'],drop_first=True)

In [272]:
#print first few rows of thal
thal.head()

   1  2  3
0  1  0  0
1  0  1  0
2  0  1  0
3  0  1  0
4  0  1  0

In [273]:
#rename thal columns
thal.rename(columns={1:'thal1',2:'thal2',3:'thal3'}, inplace = True)

In [274]:
#check
thal.head()

   thal1  thal2  thal3
0      1      0      0
1      0      1      0
2      0      1      0
3      0      1      0
4      0      1      0

In [275]:
#drop original variables for the dataset
df.drop(['cp','restecg','slope','ca','thal'], inplace = True, axis = 1)

In [276]:
#check for correlative relationships among numeric variables
df.corr()

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,target
age,1.000000,-0.098447,0.279351,0.213678,0.121308,-0.398522,0.096801,0.210013,-0.225439
sex,-0.098447,1.000000,-0.056769,-0.197912,0.045032,-0.044020,0.141664,0.096093,-0.280937
trestbps,0.279351,-0.056769,1.000000,0.123174,0.177531,-0.046698,0.067616,0.193216,-0.144931
chol,0.213678,-0.197912,0.123174,1.000000,0.013294,-0.009940,0.067023,0.053952,-0.085239
fbs,0.121308,0.045032,0.177531,0.013294,1.000000,-0.008567,0.025665,0.005747,-0.028046
thalach,-0.398522,-0.044020,-0.046698,-0.009940,-0.008567,1.000000,-0.378812,-0.344187,0.421741
exang,0.096801,0.141664,0.067616,0.067023,0.025665,-0.378812,1.000000,0.288223,-0.436757
oldpeak,0.210013,0.096093,0.193216,0.053952,0.005747,-0.344187,0.288223,1.000000,-0.430696
target,-0.225439,-0.280937,-0.144931,-0.085239,-0.028046,0.421741,-0.436757,-0.430696,1.000000

In [277]:
#concatenate dummies to dataframe
df = pd.concat([df,cp,restecg,slope,ca,thal],axis=1)

In [278]:
#logistic regression model

In [279]:
#import
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [280]:
#scale data
StSc = StandardScaler()

In [281]:
#variables to be scaled
scaled_num_col = ['age','trestbps','chol','thalach','oldpeak']

In [282]:
#scale selected variables
df[scaled_num_col] = StSc.fit_transform(df[scaled_num_col])

In [283]:
#examine scaled data
df.describe()

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,target,cp1,...,restecg2,slope1,slope2,ca1,ca2,ca3,ca4,thal1,thal2,thal3
count,3.030000e+02,303.000000,3.030000e+02,3.030000e+02,303.000000,3.030000e+02,303.000000,3.030000e+02,303.000000,303.000000,...,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,5.825923e-17,0.683168,-7.146832e-16,-9.828955e-17,0.148515,-5.203025e-16,0.326733,-3.140136e-16,0.544554,0.165017,...,0.013201,0.462046,0.468647,0.214521,0.125413,0.066007,0.016502,0.059406,0.547855,0.386139
std,1.001654e+00,0.466011,1.001654e+00,1.001654e+00,0.356198,1.001654e+00,0.469794,1.001654e+00,0.498835,0.371809,...,0.114325,0.499382,0.499842,0.411169,0.331734,0.248704,0.127605,0.236774,0.498528,0.487668
min,-2.797624e+00,0.000000,-2.148802e+00,-2.324160e+00,0.000000,-3.439267e+00,0.000000,-8.968617e-01,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-7.572802e-01,0.000000,-6.638668e-01,-6.814943e-01,0.000000,-7.061105e-01,0.000000,-8.968617e-01,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,6.988599e-02,1.000000,-9.273778e-02,-1.210553e-01,0.000000,1.466343e-01,0.000000,-2.067053e-01,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,7.316189e-01,1.000000,4.783913e-01,5.456738e-01,0.000000,7.151309e-01,1.000000,4.834512e-01,1.000000,0.000000,...,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
max,2.496240e+00,1.000000,3.905165e+00,6.140401e+00,1.000000,2.289429e+00,1.000000,4.451851e+00,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [284]:
#independent variables
X = df.drop('target',axis=1)

In [285]:
#dependent variable
y = df['target']

In [286]:
#train/test split of the data
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [287]:
#import
from sklearn.linear_model import LogisticRegression

In [288]:
#logit model
logmodel = LogisticRegression()

In [289]:
#model fit
logmodel.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [290]:
#call predictions
predictions=logmodel.predict(X_test)

In [291]:
#classification report
print (classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.85      0.85      0.85        41
           1       0.88      0.88      0.88        50

    accuracy                           0.87        91
   macro avg       0.87      0.87      0.87        91
weighted avg       0.87      0.87      0.87        91

In [292]:
#compare distribution in data set - looks good
df['target'].value_counts(normalize=True) * 100

1    54.455446
0    45.544554
Name: target, dtype: float64

In [293]:
#print confusion matrix - looks good
confusion_matrix (y_test,predictions)

array([[35,  6],
       [ 6, 44]])

In [294]:
#decision tree model

In [295]:
#import
from sklearn.tree import DecisionTreeClassifier

In [296]:
#decision tree
dtree = DecisionTreeClassifier()

In [297]:
#model fit
dtree.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [298]:
#call predictions
predictions = dtree.predict(X_test)

In [299]:
#print classification report
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.64      0.73      0.68        41
           1       0.75      0.66      0.70        50

    accuracy                           0.69        91
   macro avg       0.69      0.70      0.69        91
weighted avg       0.70      0.69      0.69        91

In [300]:
#print confusion matrix
print(confusion_matrix(y_test,predictions))

[[30 11]
 [17 33]]

In [301]:
#random forest model

In [302]:
#import
from sklearn.ensemble import RandomForestClassifier

In [303]:
#random forest model
rfc = RandomForestClassifier(n_estimators=300)

In [304]:
#model fit
rfc.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=300,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [305]:
#call predictions
predictions = rfc.predict(X_test)

In [306]:
#print classification report
#notice an improvement compared to decesion tree model
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.81      0.83      0.82        41
           1       0.86      0.84      0.85        50

    accuracy                           0.84        91
   macro avg       0.83      0.83      0.83        91
weighted avg       0.84      0.84      0.84        91

In [307]:
#print confusion matrix
print(confusion_matrix(y_test,predictions))

[[34  7]
 [ 8 42]]

In [308]:
#conclusion : logit model outperforms both models
#random forest improves decision tree model
#in terms of precision, recall, f1-score, and accuracy