In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/nba-games-stats-from-2014-to-2018/nba.games.stats.csv

In [2]:
data = pd.read_csv('/kaggle/input/nba-games-stats-from-2014-to-2018/nba.games.stats.csv')
data

,Unnamed: 0,Team,Game,Date,Home,Opponent,WINorLOSS,TeamPoints,OpponentPoints,FieldGoals,...,Opp.FreeThrows,Opp.FreeThrowsAttempted,Opp.FreeThrows.,Opp.OffRebounds,Opp.TotalRebounds,Opp.Assists,Opp.Steals,Opp.Blocks,Opp.Turnovers,Opp.TotalFouls
0,1,ATL,1,2014-10-29,Away,TOR,L,102,109,40,...,27,33,0.818,16,48,26,13,9,9,22
1,2,ATL,2,2014-11-01,Home,IND,W,102,92,35,...,18,21,0.857,11,44,25,5,5,18,26
2,3,ATL,3,2014-11-05,Away,SAS,L,92,94,38,...,27,38,0.711,11,50,25,7,9,19,15
3,4,ATL,4,2014-11-07,Away,CHO,L,119,122,43,...,20,27,0.741,11,51,31,6,7,19,30
4,5,ATL,5,2014-11-08,Home,NYK,W,103,96,33,...,8,11,0.727,13,44,26,2,6,15,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9835,78119,WAS,78,2018-04-03,Away,HOU,L,104,120,38,...,18,27,0.667,10,46,26,13,3,9,14
9836,79119,WAS,79,2018-04-05,Away,CLE,L,115,119,47,...,22,28,0.786,5,35,26,10,3,16,14
9837,80119,WAS,80,2018-04-06,Home,ATL,L,97,103,35,...,16,23,0.696,7,50,24,5,5,18,22
9838,81124,WAS,81,2018-04-10,Home,BOS,W,113,101,41,...,22,27,0.815,13,44,22,14,1,16,18
9839,82119,WAS,82,2018-04-11,Away,ORL,L,92,101,33,...,22,27,0.815,6,42,20,6,7,16,27

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9840 entries, 0 to 9839
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                9840 non-null   int64
 1   Team                      9840 non-null   object
 2   Game                      9840 non-null   int64
 3   Date                      9840 non-null   object
 4   Home                      9840 non-null   object
 5   Opponent                  9840 non-null   object
 6   WINorLOSS                 9840 non-null   object
 7   TeamPoints                9840 non-null   int64
 8   OpponentPoints            9840 non-null   int64
 9   FieldGoals                9840 non-null   int64
 10  FieldGoalsAttempted       9840 non-null   int64
 11  FieldGoals.               9840 non-null   float64
 12  X3PointShots              9840 non-null   int64
 13  X3PointShotsAttempted     9840 non-null   int64
 14  X3PointShots.             9840 non-null   float64
 15  FreeThrows                9840 non-null   int64
 16  FreeThrowsAttempted       9840 non-null   int64
 17  FreeThrows.               9840 non-null   float64
 18  OffRebounds               9840 non-null   int64
 19  TotalRebounds             9840 non-null   int64
 20  Assists                   9840 non-null   int64
 21  Steals                    9840 non-null   int64
 22  Blocks                    9840 non-null   int64
 23  Turnovers                 9840 non-null   int64
 24  TotalFouls                9840 non-null   int64
 25  Opp.FieldGoals            9840 non-null   int64
 26  Opp.FieldGoalsAttempted   9840 non-null   int64
 27  Opp.FieldGoals.           9840 non-null   float64
 28  Opp.3PointShots           9840 non-null   int64
 29  Opp.3PointShotsAttempted  9840 non-null   int64
 30  Opp.3PointShots.          9840 non-null   float64
 31  Opp.FreeThrows            9840 non-null   int64
 32  Opp.FreeThrowsAttempted   9840 non-null   int64
 33  Opp.FreeThrows.           9840 non-null   float64
 34  Opp.OffRebounds           9840 non-null   int64
 35  Opp.TotalRebounds         9840 non-null   int64
 36  Opp.Assists               9840 non-null   int64
 37  Opp.Steals                9840 non-null   int64
 38  Opp.Blocks                9840 non-null   int64
 39  Opp.Turnovers             9840 non-null   int64
 40  Opp.TotalFouls            9840 non-null   int64
dtypes: float64(6), int64(30), object(5)
memory usage: 3.1+ MB

In [4]:
data['Date'] = pd.to_datetime(data['Date'])

In [5]:
data['year'] = data.Date.dt.year
data['year']

0       2014
1       2014
2       2014
3       2014
4       2014
        ...
9835    2018
9836    2018
9837    2018
9838    2018
9839    2018
Name: year, Length: 9840, dtype: int64

In [6]:
CLE = data[(data['Team']=='CLE')]

In [7]:
data = CLE.copy()

In [8]:
data.columns

Index(['Unnamed: 0', 'Team', 'Game', 'Date', 'Home', 'Opponent', 'WINorLOSS',
       'TeamPoints', 'OpponentPoints', 'FieldGoals', 'FieldGoalsAttempted',
       'FieldGoals.', 'X3PointShots', 'X3PointShotsAttempted', 'X3PointShots.',
       'FreeThrows', 'FreeThrowsAttempted', 'FreeThrows.', 'OffRebounds',
       'TotalRebounds', 'Assists', 'Steals', 'Blocks', 'Turnovers',
       'TotalFouls', 'Opp.FieldGoals', 'Opp.FieldGoalsAttempted',
       'Opp.FieldGoals.', 'Opp.3PointShots', 'Opp.3PointShotsAttempted',
       'Opp.3PointShots.', 'Opp.FreeThrows', 'Opp.FreeThrowsAttempted',
       'Opp.FreeThrows.', 'Opp.OffRebounds', 'Opp.TotalRebounds',
       'Opp.Assists', 'Opp.Steals', 'Opp.Blocks', 'Opp.Turnovers',
       'Opp.TotalFouls', 'year'],
      dtype='object')

In [9]:
data['WINorLOSS'] = data['WINorLOSS'].replace('W',1)
data['WINorLOSS'] = data['WINorLOSS'].replace('L',0)

In [10]:
data['WINorLOSS'] = data['WINorLOSS'].astype('int')

In [11]:
CLE['Home'] = CLE['Home'].replace('Home',1)
CLE['Home'] = CLE['Home'].replace('Away',0)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
data.columns

Index(['Unnamed: 0', 'Team', 'Game', 'Date', 'Home', 'Opponent', 'WINorLOSS',
       'TeamPoints', 'OpponentPoints', 'FieldGoals', 'FieldGoalsAttempted',
       'FieldGoals.', 'X3PointShots', 'X3PointShotsAttempted', 'X3PointShots.',
       'FreeThrows', 'FreeThrowsAttempted', 'FreeThrows.', 'OffRebounds',
       'TotalRebounds', 'Assists', 'Steals', 'Blocks', 'Turnovers',
       'TotalFouls', 'Opp.FieldGoals', 'Opp.FieldGoalsAttempted',
       'Opp.FieldGoals.', 'Opp.3PointShots', 'Opp.3PointShotsAttempted',
       'Opp.3PointShots.', 'Opp.FreeThrows', 'Opp.FreeThrowsAttempted',
       'Opp.FreeThrows.', 'Opp.OffRebounds', 'Opp.TotalRebounds',
       'Opp.Assists', 'Opp.Steals', 'Opp.Blocks', 'Opp.Turnovers',
       'Opp.TotalFouls', 'year'],
      dtype='object')

In [13]:
CLE7 = data.drop(['Unnamed: 0','Date','Team','year'],axis = 1)

In [14]:
CLE7['Home'] = CLE7['Home'].replace('Home',1)
CLE7['Home'] = CLE7['Home'].replace('Away',0)
CLE7

,Game,Home,Opponent,WINorLOSS,TeamPoints,OpponentPoints,FieldGoals,FieldGoalsAttempted,FieldGoals.,X3PointShots,...,Opp.FreeThrows,Opp.FreeThrowsAttempted,Opp.FreeThrows.,Opp.OffRebounds,Opp.TotalRebounds,Opp.Assists,Opp.Steals,Opp.Blocks,Opp.Turnovers,Opp.TotalFouls
410,1,1,NYK,0,90,95,32,70,0.457,9,...,15,18,0.833,9,35,30,9,1,15,26
411,2,0,CHI,1,114,108,41,104,0.394,3,...,13,17,0.765,11,42,25,4,14,19,28
412,3,0,POR,0,82,101,31,85,0.365,9,...,19,25,0.760,9,48,21,7,4,11,20
413,4,0,UTA,0,100,102,30,72,0.417,6,...,17,22,0.773,13,41,26,3,8,12,26
414,5,0,DEN,1,110,101,40,84,0.476,6,...,10,15,0.667,8,42,22,5,5,13,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7867,78,1,TOR,1,112,106,38,77,0.494,13,...,11,14,0.786,9,46,28,7,1,11,23
7868,79,1,WAS,1,119,115,42,77,0.545,13,...,12,14,0.857,12,41,34,8,7,15,23
7869,80,0,PHI,0,130,132,45,87,0.517,16,...,18,21,0.857,11,44,35,11,7,12,23
7870,81,0,NYK,1,122,109,40,85,0.471,19,...,6,12,0.500,8,37,26,4,7,14,20
7871,82,1,NYK,0,98,110,37,94,0.394,6,...,12,13,0.923,8,39,30,10,3,15,22

In [15]:
dummies = pd.get_dummies(CLE['Opponent'])
dummies.head()

,ATL,BOS,BRK,CHI,CHO,DAL,DEN,DET,GSW,HOU,...,OKC,ORL,PHI,PHO,POR,SAC,SAS,TOR,UTA,WAS
410,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
411,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
412,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
413,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
414,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
data1 = pd.concat([dummies,CLE7],axis =1)

In [17]:
data1 = data1.drop('Opponent',axis = 1)

In [18]:
X = data1.drop(['WINorLOSS'],axis = 1)
X

,ATL,BOS,BRK,CHI,CHO,DAL,DEN,DET,GSW,HOU,...,Opp.FreeThrows,Opp.FreeThrowsAttempted,Opp.FreeThrows.,Opp.OffRebounds,Opp.TotalRebounds,Opp.Assists,Opp.Steals,Opp.Blocks,Opp.Turnovers,Opp.TotalFouls
410,0,0,0,0,0,0,0,0,0,0,...,15,18,0.833,9,35,30,9,1,15,26
411,0,0,0,1,0,0,0,0,0,0,...,13,17,0.765,11,42,25,4,14,19,28
412,0,0,0,0,0,0,0,0,0,0,...,19,25,0.760,9,48,21,7,4,11,20
413,0,0,0,0,0,0,0,0,0,0,...,17,22,0.773,13,41,26,3,8,12,26
414,0,0,0,0,0,0,1,0,0,0,...,10,15,0.667,8,42,22,5,5,13,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7867,0,0,0,0,0,0,0,0,0,0,...,11,14,0.786,9,46,28,7,1,11,23
7868,0,0,0,0,0,0,0,0,0,0,...,12,14,0.857,12,41,34,8,7,15,23
7869,0,0,0,0,0,0,0,0,0,0,...,18,21,0.857,11,44,35,11,7,12,23
7870,0,0,0,0,0,0,0,0,0,0,...,6,12,0.500,8,37,26,4,7,14,20
7871,0,0,0,0,0,0,0,0,0,0,...,12,13,0.923,8,39,30,10,3,15,22

In [19]:
Y = data1['WINorLOSS']
Y = Y[:,np.newaxis]

In [20]:
print(Y.shape)
print(X.shape)

(328, 1)
(328, 65)

In [21]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [22]:
y_test.shape

(66, 1)

In [23]:
from sklearn.linear_model import LogisticRegression
Lr = LogisticRegression()
Lr.fit(X_train,y_train)

/opt/conda/lib/python3.7/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
/opt/conda/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [24]:
y_pred = Lr.predict(X_test)

In [25]:
from sklearn.metrics import confusion_matrix, accuracy_score
score = accuracy_score(y_test,y_pred)
score

0.9696969696969697

In [26]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

cm = confusion_matrix(y_test, y_pred)
print(cm)
print(accuracy_score(y_test, y_pred))

[[18  0]
 [ 2 46]]
0.9696969696969697