In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.
import warnings
warnings.filterwarnings('ignore')

/kaggle/input/train-cleaned/train_cleaned.csv

Let's load the data

In [2]:
df=pd.read_csv('/kaggle/input/train-cleaned/train_cleaned.csv')
df.head()

   Survived  Pclass  Sex   Age     Fare  Family_count  Cabin_ind
0         0       3    0  22.0   7.2500             1          0
1         1       1    1  38.0  71.2833             1          1
2         1       3    1  26.0   7.9250             0          0
3         1       1    1  35.0  53.1000             1          1
4         0       3    0  35.0   8.0500             0          0

Let's try to do cross validation

In [3]:
X=df.drop(columns=['Survived'])
y=df[['Survived']]
print(X.shape)
print(y.shape)

(891, 6)
(891, 1)

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model=SVC(kernel='linear',C=1).fit(X_train, y_train)
model.score(X_test, y_test)

0.7821229050279329

In [5]:
from sklearn.model_selection import cross_val_score
clf=SVC(kernel='linear', C=1)
scores=cross_val_score(clf,X,y,cv=4)
scores

array([0.79464286, 0.81165919, 0.76126126, 0.77927928])

In [6]:
from sklearn.model_selection import cross_val_score
clf=SVC(kernel='linear', C=1)
scores=cross_val_score(clf,X,y,cv=6)
scores

array([0.79865772, 0.77852349, 0.83221477, 0.77027027, 0.75675676,
       0.78378378])