In [1]:
import numpy as np 
import pandas as pd

In [2]:
data=pd.read_csv('../input/500_Person_Gender_Height_Weight_Index.csv')

In [3]:
data.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [4]:
data.dtypes

Gender    object
Height     int64
Weight     int64
Index      int64
dtype: object

In [5]:
data.shape

(500, 4)

In [6]:
data.isnull().sum()

Gender    0
Height    0
Weight    0
Index     0
dtype: int64

In [7]:
data.Gender.describe()

count        500
unique         2
top       Female
freq         255
Name: Gender, dtype: object

In [8]:
X=data.drop(['Index'],axis=1)
X=pd.get_dummies(X)
y=data['Index']

In [9]:
X.head()

   Height  Weight  Gender_Female  Gender_Male
0     174      96              0            1
1     189      87              0            1
2     185     110              1            0
3     195     104              1            0
4     149      61              0            1

In [10]:
y.head()

0    4
1    2
2    4
3    3
4    3
Name: Index, dtype: int64

In [11]:
X.dtypes

Height           int64
Weight           int64
Gender_Female    uint8
Gender_Male      uint8
dtype: object

In [12]:
import sklearn.model_selection as model_selection
X_train,X_test,y_train,y_test=model_selection.train_test_split(X,y,test_size=0.3,random_state=100)

In [13]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(350, 4)
(150, 4)
(350,)
(150,)

In [14]:
from sklearn.ensemble import RandomForestClassifier
for i in range(10,100,10):
    reg=RandomForestClassifier(n_estimators=i,max_depth=5,max_features='sqrt',oob_score=True,random_state=100)
    reg.fit(X_train,y_train)
    oob=reg.oob_score_
    print('For n_estimators = '+str(i))
    print('OOB score is '+str(oob))
    print('************************')

For n_estimators = 10
OOB score is 0.7628571428571429
************************
For n_estimators = 20
OOB score is 0.7942857142857143
************************
For n_estimators = 30
OOB score is 0.7914285714285715
************************

/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:458: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:463: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])

For n_estimators = 40
OOB score is 0.8
************************
For n_estimators = 50
OOB score is 0.8285714285714286
************************
For n_estimators = 60
OOB score is 0.82
************************
For n_estimators = 70
OOB score is 0.82
************************
For n_estimators = 80
OOB score is 0.8257142857142857
************************
For n_estimators = 90
OOB score is 0.82
************************

In [15]:
reg=RandomForestClassifier(n_estimators=50,max_depth=5,max_features='sqrt',oob_score=True,random_state=100)
reg.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=5, max_features='sqrt', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=None,
            oob_score=True, random_state=100, verbose=0, warm_start=False)

In [16]:
reg.score(X_test,y_test)

0.7666666666666667

In [17]:
reg.oob_score_

0.8285714285714286

In [18]:
feature_importance=reg.feature_importances_

In [19]:
feat_imp=pd.Series(feature_importance,index=X.columns.tolist())

In [20]:
feat_imp.sort_values(ascending=False)

Weight           0.641961
Height           0.339333
Gender_Female    0.009700
Gender_Male      0.009006
dtype: float64

In [21]:
pred=reg.predict(X_test)