In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['heart.csv']

In [2]:
data = pd.read_csv('../input/heart.csv')
data.head()

   age  sex  cp  trestbps  chol   ...    oldpeak  slope  ca  thal  target
0   63    1   3       145   233   ...        2.3      0   0     1       1
1   37    1   2       130   250   ...        3.5      0   0     2       1
2   41    0   1       130   204   ...        1.4      2   0     2       1
3   56    1   1       120   236   ...        0.8      2   0     2       1
4   57    0   0       120   354   ...        0.6      2   0     2       1

[5 rows x 14 columns]

In [3]:
data.tail()

     age  sex  cp  trestbps  chol   ...    oldpeak  slope  ca  thal  target
298   57    0   0       140   241   ...        0.2      1   0     3       0
299   45    1   3       110   264   ...        1.2      1   0     3       0
300   68    1   0       144   193   ...        3.4      1   2     3       0
301   57    1   0       130   131   ...        1.2      1   1     3       0
302   57    0   1       130   236   ...        0.0      1   1     2       0

[5 rows x 14 columns]

In [4]:
data.target.value_counts()

1    165
0    138
Name: target, dtype: int64

In [5]:
X = data.iloc[:, :-1]
X.head()

   age  sex  cp  trestbps  chol  ...   exang  oldpeak  slope  ca  thal
0   63    1   3       145   233  ...       0      2.3      0   0     1
1   37    1   2       130   250  ...       0      3.5      0   0     2
2   41    0   1       130   204  ...       0      1.4      2   0     2
3   56    1   1       120   236  ...       0      0.8      2   0     2
4   57    0   0       120   354  ...       1      0.6      2   0     2

[5 rows x 13 columns]

In [6]:
y = data.iloc[:, -1]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Using Decision trees

In [8]:
from sklearn.tree import DecisionTreeClassifier

regg = DecisionTreeClassifier()

In [9]:
regg.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [10]:
y_pred = regg.predict(X_test)

In [11]:
y_pred = pd.Series(y_pred)

In [12]:
from sklearn.metrics import f1_score

f1_score(y_test, y_pred)

0.8333333333333334

### Using random forest

In [13]:
from sklearn.ensemble import RandomForestClassifier

regg_rf = RandomForestClassifier(n_estimators = 3, random_state=42)

In [14]:
regg_rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=3,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [15]:
y_pred_rf = regg_rf.predict(X_test)

In [16]:
f1_score(y_test, y_pred_rf)

0.7868852459016394