In [2]:
#import libraries
import numpy as np
import pandas as pd

In [3]:
#read data
customer_data = pd.read_csv('../input/bank-loan-classification/UniversalBank.csv')
customer_data.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [4]:
#dropping unnecessary columns
customer_data.drop(['ID','ZIP Code'],axis = 1, inplace = True)
customer_data.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,45,19,34,3,1.5,1,0,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,0,1

In [5]:
#splitting data 
from sklearn.model_selection import train_test_split
X = customer_data.copy().drop('Personal Loan',axis = 1)
Y = customer_data["Personal Loan"]
trainX,testX,trainY,testY = train_test_split(X,Y,test_size = 0.2)

print(trainX.shape)
print(trainY.shape)
print(testX.shape)
print(testY.shape)

(4000, 11)
(4000,)
(1000, 11)
(1000,)

In [6]:
#training the model
from sklearn.svm import SVC

## Create an SVC object
svc = SVC()

## Fit
svc.fit(trainX,trainY)

## Predict
train_predictions = svc.predict(trainX)
test_predictions = svc.predict(testX)

# Train data accuracy
from sklearn.metrics import accuracy_score
print(f"Train data accuracy is {accuracy_score(trainY,train_predictions)}")
      
# Test data accuracy
print(f"Test data accuracy is {accuracy_score(testY,test_predictions)}")

Train data accuracy is 0.91075
Test data accuracy is 0.908