In [1]:
##I have created this model in most easiest and understandable way and the pipeline is also very easy
####DINESH SAGAR

In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
        
df=pd.read_csv("/kaggle/input/hr-analytics-people-management/hr_analytics.csv")
df.head()

# Any results you write to the current directory are saved as output.

/kaggle/input/hr-analytics-people-management/hr_analytics.csv

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
satisfaction_level       14999 non-null float64
last_evaluation          14999 non-null float64
number_project           14999 non-null int64
average_montly_hours     14999 non-null int64
time_spend_company       14999 non-null int64
Work_accident            14999 non-null int64
left                     14999 non-null int64
promotion_last_5years    14999 non-null int64
sales                    14999 non-null object
salary                   14999 non-null object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [4]:
#lets encode the categorical data.
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df.sales=le.fit_transform(df.sales)
df.salary=le.fit_transform(df.salary)

In [5]:
#So for x we need all the data expect LEFT column. for y we need only LEFT

x=df.drop('left',axis=1)
y=df['left']


# lets check whether i selected correct x values or not

x

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,0,7,1
1,0.80,0.86,5,262,6,0,0,7,2
2,0.11,0.88,7,272,4,0,0,7,2
3,0.72,0.87,5,223,5,0,0,7,1
4,0.37,0.52,2,159,3,0,0,7,1
...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,0,8,1
14995,0.37,0.48,2,160,3,0,0,8,1
14996,0.37,0.53,2,143,3,0,0,8,1
14997,0.11,0.96,6,280,4,0,0,8,1
14998,0.37,0.52,2,158,3,0,0,8,1

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(x, y , test_size = 0.2, random_state=1) #I have taken 20% test size.

In [7]:
# Using Linear Model and select Logistic Regression
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(C=100,solver='lbfgs')
#model = LogisticRegression()
model.fit(X_train,Y_train)

/opt/conda/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=100, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [8]:
#lets predict

prediction = model.predict(X_test)
from sklearn.metrics import accuracy_score, confusion_matrix
accuracy_score(prediction,Y_test)

0.769

In [9]:
# I was not happy with Logistic regression model, so lets check with support vector.

from sklearn.svm import SVC
svm=SVC(C=100, kernel='rbf', degree=3, gamma='scale')
a=svm.fit(X_train,Y_train)

In [10]:
prediction=svm.predict(X_test)
prediction

array([0, 0, 1, ..., 0, 1, 0])

In [11]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(Y_test,prediction))

[[2177  110]
 [ 206  507]]

In [12]:
a=svm.score(X_test,Y_test)
print("The accuracy of the SVC Model is {}".format(a))

The accuracy of the SVC Model is 0.8946666666666667